<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
    <title>Title</title>
    <link rel="stylesheet" href="http://172.29.108.156:3000/stylesheets/style1.css">
    <link rel="stylesheet" href="http://172.29.108.156:3000/stylesheets/app.css">
</head>
<body>
<div id="juejin" data-v-6ede48a3="">

    <div data-v-3f216172=""  id="articleDetail" data-v-13f76525="" data-v-6ede48a3="" class="view-container">
        <main data-v-3f216172="" class="container main-container">
            <div data-v-13f76525="" data-v-3f216172="" class="root-view-bg"></div>
            <div data-v-13f76525="" data-v-3f216172="" class="view column-view">
                <div data-v-13f76525="" data-v-3f216172="" class="columen-view-main">
                    <div data-v-13f76525="" data-v-3f216172="" class="container entry-view">
                        <!--题目与作者信息-->
                        <h1 data-v-13f76525="" data-v-3f216172="" class="post-title"><%=data.title%></h1>
                        <div data-v-13f76525="" data-v-3f216172="" class="post-info-mobile">
                            <div data-v-13f76525="" data-v-3f216172="" class="action create-at-action">
                                <%
                                function formateTime(timestamp){
                                    var date = new Date(Math.floor(timestamp))
                                    var year = date.getFullYear();
                                    var month = date.getMonth()+1;
                                    var day = date.getDate();

                                    return year + '年' + _formate(month) + '月' + _formate(day) + '日'
                                }

                                function _formate(time){
                                    return time<10 ? '0'+time : time;
                                }
                                %>
                                <%= formateTime(data.buildTime*1000) %>
                            </div>
                            <a data-v-13f76525="" target="_blank" rel="" data-userid="<%=data.author._id%>" id="username" class=" action text-a" data-v-3f216172=""><%=data.author.username%></a>
                        </div>
                        <!--题目与作者信息-->

                        <!--文章内容-->
                        <div data-v-13f76525="" data-v-3f216172="" class="post-content-container">
                            <div data-v-13f76525="" data-v-3f216172="" class="entry-content post-content juejin-image-viewer__container">
                                <%-data.content%>
                            </div>
                        </div>
                    </div><!---->
                </div><!---->
            </div>
        </main>
    </div>
</div>

<script src="http://172.29.108.156:3000/javascripts/jquery-3.2.1.min.js"></script>
<script src="http://172.29.108.156:3000/javascripts/jquery.lazyload.min.js"></script>


<script>


  $("img.lazyload").lazyload({
    "data_attribute": 'src'
  })

  window.onload = function () {
    console.log(123)
    document.addEventListener('message', function (e) {
      document.getElementById('data').innerHTML = 555555555555;
    });
    window.addEventListener('message', function (e) {
      document.getElementById('data').innerHTML = 555555;
    });




//    window.postMessage(1523)
  }

  $('#username').on('click', function() {
    var id = $(this).data('userid'),
      username = $(this).text();
    console.log(id, username);
    var user = {
      id: id,
      username: username
    }
    window.postMessage(JSON.stringify(user))
  })

  function formateTime(timestamp){
    var date = new Date(Math.floor(timestamp))
    var year = date.getFullYear();
    var month = date.getMonth()+1;
    var day = date.getDate();

    return year + '年' + _formate(month) + '月' + _formate(day) + '日'
  }

  function _formate(time){
    return time<10 ? '0'+time : time;
  }

</script>

</body>
</html>